a, a:visited, a:active, a:hover {color: blue; text-decoration: underline;}
a:hover {text-decoration: none;}

textarea {
    white-space: nowrap;
    font-family: "Times";
    font-size: 1.2em;
    min-width: 300px;
    width: "auto";
    resize: none;
    border: "1px solid silver";
    outline: none;
}

code > i{color: brown}
code > b{color: purple}

div#Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch
}

div#Loading {
    display: block;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

div#Sphere {
    display: inline-block;
    flex-basis: "440px"
}

div#Editor {
    display: inline-block;
}

div#docs {max-width: 800px; margin-left: auto; margin-right: auto}

label.ui {user-select: none;}
